<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{veranstaltung ? veranstaltung.titel : ''}}
    </mat-card-title>
    <mat-card-subtitle>
      {{veranstaltung?.startdatum | date : 'dd.MM.YYYY'}}
      {{"bis"}}
      {{veranstaltung?.enddatum | date : 'dd.MM.YYYY'}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Hier steht jetzt ganz viel alsfjl
    aslfkj asldf alieo oasiienf lasdfjk. askfj
    askdfkl .sadflasldf askjo laskjeio.
  </mat-card-content>
</mat-card>
