<h1>Wettkämpfe</h1>
<div class="cardcontainer">
  <ng-container *ngFor="let wettkampf of wettkaempfe">
      <mat-card class="dashboard__card">
        <mat-card-header>
          <mat-card-title>{{wettkampf.titel}}</mat-card-title>
          <mat-card-subtitle>{{wettkampf.startDatum | date:'dd.MM.yyyy'}}
            - {{wettkampf.endDatum | date:'dd.MM.yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>?</mat-list-item>
            <mat-list-item>?</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
  </ng-container>
</div>
