<mat-grid-list cols="4">
  <h1>{{veranstaltungsId}}</h1>
  <mat-grid-tile colspan="2" rowspan="2"><app-event-detail [veranstaltung]="veranstaltung"> </app-event-detail></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1"><app-competition-card></app-competition-card></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1"><app-judges-card></app-judges-card></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1"><app-competitors-card></app-competitors-card></mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1"><app-finances-card></app-finances-card></mat-grid-tile>
</mat-grid-list>
