<div class="flex-container dashboard">
  <div class="flex-container__25 row-column">
    <app-event-detail [veranstaltung]="veranstaltung"></app-event-detail>
  </div>
  <div class="flex-container__75 row-column">
    <app-competition-card class="kachel"></app-competition-card>
    <app-judges-card class="kachel"></app-judges-card>
    <app-competitors-card class="kachel"></app-competitors-card>
    <app-teams-card class="kachel"></app-teams-card>
    <app-results-card class="kachel"></app-results-card>
    <app-finances-card class="kachel"></app-finances-card>
  </div>
</div>

